# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/
.swc/
.open-next/
cloudflare-env.d.ts

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env.local
.env.*.local
!.env.example

# cloudflare
.wrangler/
